<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <h1>Patient Dashboard</h1>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="profile-image"></div>
          <mat-card-title>{{patient | patientfullname}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>

      </mat-card>
    </div>

    <div class="col-lg-8">
      <app-appointment
        [title]="'List of Appointments'"
        [roleInput]="role">
      </app-appointment>
    </div>
  </div>
</div>
