<div id="dashboard-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div>
          <h1>Patient Dashboard</h1>
        </div>
      </div>

      <div class="col-lg">
        <mat-card>
          <mat-card-content>
            <h3>{{"List of Appointments"}}</h3>

            <app-appointment
              [roleInput]="this.role"
              [tableDataSource]="dataSource"
              (modified)="this.getTableDataSource()">
            </app-appointment>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
