:host{
  .mat-header-row{
    background-color: #757575 !important;
    color: white;
    > mat-header-cell {
      color: white;
    }
  }

  ::ng-deep .mat-sort-header-arrow {
      color: white !important;
  }
}
