<div id="vacc-dialog-container">
  <div class="row no-gutters justify-content-between align-items-center mb-3">
    <div></div>
    <h4 class="m-0">Booked Appointment Details</h4>
    <button id="close-button" mat-icon-button [mat-dialog-close]="false"><mat-icon>close</mat-icon></button>
  </div>

  <div class="row no-gutters">
    <div class="col-4 mb-4">
      <div class="font-weight-bold">Patient:</div>
      <div>{{data?.patient | patientfullname}}</div>
    </div>

    <div class="col-4 mb-4">
      <div class="font-weight-bold">Vaccine:</div>
      <div>{{data.vaccine?.name || 'n/a'}}</div>
    </div>

    <div class="col-4 mb-4">
      <div class="font-weight-bold">When:</div>
      <div>{{data.startTime| date: 'h:mm a, EEEE, MMMM d YYYY'}}</div>
    </div>

    <div class="col-4 mb-4">
      <div class="font-weight-bold">Contact:</div>
      <div>{{data.patient?.phone || 'n/a'}}</div>
    </div>

    <div class="col-4 mb-4">
      <div class="font-weight-bold">Vaccine Dose:</div>
      <div>{{data.vaccineDose || 'n/a'}}</div>
    </div>

    <div class="col-4 mb-4">
      <div class="font-weight-bold">Medical Condition:</div>
      <div>{{data.reason}}</div>
    </div>

    <div class="col-4 mb-4">
      <div class="font-weight-bold">Health Card:</div>
      <div>{{data.patient?.healthCardNo}}</div>
    </div>

    <div class="col-4 mb-4">
      <div class="font-weight-bold">Health Practitioner:</div>
      <div>{{data.healthPractitioner | patientfullname}}</div>
    </div>
  </div>

  <div class="row no-gutters justify-content-between">
    <button color="accent" mat-flat-button (click) = "checkIn()" >Check-in Appointment</button>
    <button color="accent" mat-flat-button>View Vaccine History</button>
    <button color="accent" mat-flat-button>Add Comments</button>
  </div>
</div>
