<div class="content-container">
  <div class="content">
    <div class="row text-center">
      <div class="col">
        <h3>Failed Eligibility</h3>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <h4>You Failed Eligibility For The Following Reasons:</h4>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ul>
          <li>You are under 18 years of age</li>
          <li>You self-identified as pregnant</li>
        </ul>
      </div>
    </div>
  </div>
</div>
