<nav class="navbar navbar-expand-md fixed-top navbar-back">
  <a class="navbar-brand" href="#"><img src="./assets/images/VaccTrax.png" alt="vacctrax logo"></a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#MyNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="MyNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign In</a>
      </li>
    </ul>
  </div>
</nav>
