<app-navigation-bar></app-navigation-bar>
<router-outlet></router-outlet>
<div class="container-fluid">
  <div>

  </div>

  <div class="row">
    <div id="profile-section" class="col-auto mb-2">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar id="profile-image"></div>
          <mat-card-title>{{patient | patientfullname}} - #{{patient.accountId}}</mat-card-title>
          <mat-card-subtitle>
            <div>{{patient.email}}</div>
            <div>{{patient.healthCard}}</div>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="col-lg">
      <mat-card>
        <mat-card-content>
          <app-appointment
            [title]="'List of Vaccine Appointments'"
            [roleInput]="role"
            [tableDataSource]="dataSource">
          </app-appointment>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

