/* You can add global styles to this file, and also import other style files */
@import url('@angular/material/prebuilt-themes/indigo-pink.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  background-color: #F8E4E4 !important;
}

a {
  cursor: pointer;
}

.delete{
  color: red;
}
