<app-navigation-bar></app-navigation-bar>

<div id="content">
  <div class="container-fluid">
<div class="row align-items-center" style="padding-top: 100px;">
  <div class="col-6">
    <div class="text-left center-block">
      <h6>IT'S QUICK & EASY</h6>
      <h2>Keep Track Of</h2>
      <h2>COVID-19</h2>
      <h2>Appointments</h2>
      <br>
      <button mat-button id="sign-up-button" (click)="this.navigateToSignUp()">Sign Up Today</button>
    </div>
  </div>
  <div class="col-6">
    <img src="./assets/images/homepage_doctor.png" alt="doctor image" id="doctor-image">
  </div>
</div>
</div>
<footer class="footer container-fluid">
  <div class="row">
    <div class="col-4">
      Support
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      Contact us:<br>
      FAQ
    </div>
    <div class="col-4">
      Email:<br>
      vacctrax@gmail.com
    </div>
    <div class="col-4">
      Phone:<br>
      1-888-555-9999
    </div>
  </div>
</footer>
