<nav class="navbar navbar-expand-md fixed-top navbar-back">
  <a class="navbar-brand" href="#"><img src="./assets/images/VaccTrax.png" alt="vacctrax logo"></a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#MyNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="MyNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign In</a>
      </li>
    </ul>
  </div>
</nav>
<div id="content">
  <div class="container-fluid">
<div class="row align-items-center" style="padding-top: 100px;">
  <div class="col-6">
    <div class="text-left center-block">
      <h6>IT'S QUICK & EASY</h6>
      <h2>Keep Track Of</h2>
      <h2>COVID-19</h2>
      <h2>Appointments</h2>
      <br>
      <button mat-button id="sign-up-button">Sign Up Today</button>
    </div>
  </div>
  <div class="col-6">
    <img src="./assets/images/homepage_doctor.png" alt="doctor image" id="doctor-image">
  </div>
</div>
</div>
<footer class="footer container-fluid">
  <div class="row">
    <div class="col-4">
      Support
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      Contact us:<br>
      FAQ
    </div>
    <div class="col-4">
      Email:<br>
      vacctrax@gmail.com
    </div>
    <div class="col-4">
      Phone:<br>
      1-888-555-9999
    </div>
  </div>
</footer>
