<app-navigation-bar></app-navigation-bar>

<div id="content">
    <div class="container-fluid">
  <div class="row align-items-center" style="padding-top: 100px;">
    <div class="col-6">
      <div class="text-left center-block">
        <h6>IT'S QUICK & EASY</h6>
        <h2>Keep Track Of</h2>
        <h2>COVID-19</h2>
        <h2>Appointments</h2>
        <br>
        <!-- Must add a dot slash ./ to ensure github pages renders the view properly -->
        <a mat-button id="sign-up-button" href="/signup">Sign Up Today</a>
      </div>
    </div>
    <div class="col-6">
      <img src="./assets/images/homepage_doctor.png" alt="doctor image" id="doctor-image">
    </div>
  </div>

  <div class="row justify-content-center" style="padding-top: 100px;">
    <div class="col-6">
      <h4>General Description</h4>
      Vacctrax is a vaccination tracking software that helps people to book their vaccination appointments
      and helps the medical admins and health practitioners to administrator the vaccine.
    </div>
  </div>

  <div class="row justify-content-center" style="padding-top: 100px; padding-bottom: 100px;">
    <div class="col-6">
      <h4>COVID - 19 FACTS</h4>
      COVID-19 Facts
      Symptoms of human coronaviruses can:
      <br/>
      take up to 14 days to appear after exposure to the virus
      be very mild or more serious
      vary from person to person
      Coronaviruses are most commonly spread from an infected person through:
      <br/>
      respiratory droplets when you cough or sneeze
      close personal contact, such as touching or shaking hands
      touching something with the virus on it, then touching your eyes, nose or mouth before washing your hands
      These viruses are not known to spread through ventilation systems or through water.
      <br/>
      The best way to prevent the spread of infections is to:
      <br/>
      wash your hands often with soap and water for at least 20 seconds;
      avoid touching your eyes, nose or mouth, especially with unwashed hands;
      avoid close contact with people who are sick;
      cough and sneeze into your sleeve and not your hands;
      practice physical distancing at all times;
      stay home if you are sick to avoid spreading illness to others; and
      wear a non-medical mask or face covering, made with at least two layers of tightly woven fabric, constructed to completely cover the nose and mouth without gaping, and secured to the head by ties or ear loops, to protect the people and surfaces around you.
      More can be found at
      <a style="color: #85203b" href="https://www.canada.ca/en/public-health/services/publications/diseases-conditions/know-facts-about-coronavirus-disease-covid-19.html"> here.</a>
    </div>
  </div>

  </div>
</div>
<footer class="footer container-fluid">
  <div class="row">
    <div class="col-4">
      Support
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      Contact us:<br>
      FAQ
    </div>
    <div class="col-4">
      Email:<br>
      vacctrax@gmail.com
    </div>
    <div class="col-4">
      Phone:<br>
      1-888-555-9999
    </div>
  </div>
</footer>

