<nav class="navbar navbar-expand-md navbar-back">
  <a class="navbar-brand" href="#"><img src="./assets/images/VaccTrax.png" alt="vacctrax logo"></a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#MyNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="MyNavbar">
    <ul class="navbar-nav ml-auto">
      <ng-container *ngIf="roleInput === role.MEDICAL_ADMIN">
        <li class="nav-item d-flex align-items-center">
          <button mat-icon-button><mat-icon>search</mat-icon></button>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vaccine History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./inventory">Inventory Statistics</a>
        </li>
      </ng-container>

      <ng-container *ngIf="roleInput === role.GOVERNMENT">
        <li class="nav-item d-flex align-items-center">
          <button mat-icon-button><mat-icon>search</mat-icon></button>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vaccine History</a>
        </li>
      </ng-container>

      <ng-container *ngIf="!roleInput">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./signin">Sign In</a>
        </li>
        <li class="nav-link" *ngIf="isLoggedIn">
          <button class="btn btn-dark" (click)="logout()">
            Log Out
          </button>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
