<div class="row">
  <div class="col text-center"><h3>{{this.data.title}}</h3></div>
</div>

<div class="row content-description">
  <div class="col">
      {{this.data.description}}
  </div>
</div>


<div class="row ">
  <div class="col text-center">
    <!--    This button will perform all the accept actions, and return a truthy value-->
    <button mat-raised-button type="button" class="mr-5"
            [mat-dialog-close]="true">{{this.data.acceptMessage}}</button>

    <!--    This button will perform all the decline / reject actions and return a falsy value-->
    <button mat-raised-button type="button" class="ml-5"
            [mat-dialog-close]="false">{{this.data.declineMessage}}</button>
  </div>
</div>
