<div class="content-container">
    <div class="content">
        <form [formGroup]="this.addUpdateVaccineForm">
            <div class="row text-center">
                <div class="col text-center">
                    <h3>{{this.data?.title}} Vaccine</h3>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Vaccine Name</mat-label>
                        <input matInput formControlName="vaccineName" />
                        <mat-error>Vaccine Name is <strong>Required</strong></mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Manufacturer</mat-label>
                        <input matInput formControlName="manufacturer" />
                        <mat-error>Manufacturer is <strong>Required</strong></mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Shelf Life</mat-label>
                        <input matInput formControlName="shelfLife" />
                        <mat-error>Shelf Life <strong>Required</strong></mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Approved Provinces</mat-label>
                        <input matInput formControlName="approvedProvinces" />
                        <mat-error>Approved Provinces is <strong>Required</strong></mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                  <button mat-raised-button type="button" class="mr-5"
                          [mat-dialog-close]="true">Save</button>
              
                  <button mat-raised-button type="button" class="ml-5"
                          [mat-dialog-close]="false">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>