<div class="row">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput>
        <mat-error>Password is <strong>Required</strong></mat-error>
      </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput >
        <mat-error>Confirm Password is <strong>Required</strong></mat-error>
      </mat-form-field>
    </div>
</div>