<app-navigation-bar></app-navigation-bar>
<div class="content-container">
  <div class="content">
    <form [formGroup]="this.setPasswordForm" (ngSubmit)="this.submitSetPasswordForm()">
      <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" type="password">
              <mat-error> {{ this.setPasswordForm.controls.password | password }}</mat-error>
            </mat-form-field>
          </div>
      </div>

      <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput formControlName="confirmPassword" type="password">
              <mat-error> {{ this.setPasswordForm.controls.confirmPassword | password: 'Confirm Password' }}</mat-error>
            </mat-form-field>
          </div>
      </div>

      <div class="text-center mt-3">
        <button mat-raised-button type="submit">Set Password</button>
      </div>
    </form>
  </div>
</div>